*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: black white;
    scrollbar-width:thin;;
}
@font-face {
    font-family: 'ER_Garamond_Medium';
    src: url(assets/fonts/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_Regular';
    src: url(assets/fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'DM_Sans_Medium';
    src: url(assets/fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_SemiBold';
    src: url(assets/fonts/DMSans-SemiBold.ttf);
}
@font-face {
    font-family: 'DM_Sans_ExtraBold';
    src: url(assets/fonts/DMSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'Newsreader_Medium';
    src: url(assets/fonts/Newsreader_36pt-Medium.ttf);
}

.communityContentContent{
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 120px;
    height: auto;
    padding: 160px 100px 100px 100px;
}
.communityContentContent iframe{
    flex: 1;
    height: 600px;
    border: 0;
}
.communityContentText{
    display: flex;
    flex-direction: column;
}
.contactsTitle{
    font-size: 56px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 18px;
}
.contactsIconsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 26px;
    height: 26px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 18px;
}

@media screen and (max-width: 1300px){
.communityContentContent iframe{
    flex: 1;
    height: 500px;
    border: 0;
}
}

@media screen and (max-width: 1200px){
.communityContentContent iframe{
    flex: 1;
    height: 400px;
    border: 0;
}
}


@media screen and (max-width: 1150px){
.communityContentText{
    display: flex;
    flex:1;
    flex-direction: column;
}
.contactsTitle{
    font-size: 50px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.contactsIconsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 24px;
    height: 24px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.communityContentContent iframe{
    flex: 1;
    height: 400px;
    border: 0;
}
.communityContentContent{
    gap: 60px;
}
}



@media screen and (max-width: 1070px){
.communityContentText{
    display: flex;
    flex:1;
    flex-direction: column;
}
.contactsTitle{
    font-size: 50px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.contactsIconsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 24px;
    height: 24px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.communityContentContent iframe{
    width: 100%;
    border: 0;
    min-height: 550px;
}
.communityContentContent{
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 80px;
    height: auto;
    padding: 160px 70px 100px 70px;
}
}


@media screen and (max-width: 950px){
.communityContentText{
    display: flex;
    flex:1;
    flex-direction: column;
}
.contactsTitle{
    font-size: 50px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.contactsIconsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 24px;
    height: 24px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.communityContentContent iframe{
    width: 100%;
    border: 0;
    min-height: 550px;
}
.communityContentContent{
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 70px;
    height: auto;
    padding: 160px 50px 100px 50px;
}
}


@media screen and (max-width: 600px){
.communityContentText{
    display: flex;
    flex:1;
    flex-direction: column;
}
.contactsTitle{
    font-size: 50px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.contactsIconsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 24px;
    height: 24px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.communityContentContent iframe{
    width: 100%;
    border: 0;
    min-height: 400px;
}
.communityContentContent{
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 70px;
    height: auto;
    padding: 160px 50px 100px 50px;
}
}


@media screen and (max-width: 600px){
.communityContentText{
    display: flex;
    flex:1;
    flex-direction: column;
}
.contactsTitle{
    font-size: 45px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.contactsIconsContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 24px;
    height: 24px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.communityContentContent iframe{
    width: 100%;
    border: 0;
    min-height: 450px;
}
.communityContentContent{
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    height: auto;
    padding: 160px 50px 100px 50px;
}
}


@media screen and (max-width: 500px){
.communityContentText{
    display: flex;
    flex:1;
    flex-direction: column;
}
.contactsTitle{
    font-size: 40px;
    font-family: "ER_Garamond_Medium";
    font-weight: 500;
    height: fit-content;
}
.contactsMessage{
    font-family: 'DM_Sans_Regular';
    font-size: 17px;
}
.contactsIconsContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contactsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.contactsInline img{
    width: 24px;
    height: 24px;
}
.contactsInline p{
    font-family: 'DM_Sans_Regular';
    font-size: 16px;
}
.communityContentContent iframe{
    width: 100%;
    border: 0;
    min-height: 380px;
}
.contactsMessage{
    font-size: 16px;
    width: 80%;
}
.communityContentContent{
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    height: auto;
    padding: 160px 20px 100px 20px;
}
}