*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ER_Garamond_Medium';
    src: url(assets/fonts/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_Regular';
    src: url(assets/fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'DM_Sans_Medium';
    src: url(assets/fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_ExtraBold';
    src: url(assets/fonts/DMSans-ExtraBold.ttf);
}
a{
    text-decoration: none;
    color: initial;
}
body{
    overflow-x:hidden;
    position: relative;
    height: 10000px;
}

.menuContainer{
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu{
    z-index: 1000;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 100px;
    background-color: rgba(255, 255, 255, 0.94);
    backdrop-filter: blur(6px);
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.1);
}
.menu:after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #ffffff00, #d9d9d9, #ffffff00);
    pointer-events: none;
}
.menuSchoolName{
    width: 176px;
    cursor: pointer;
    z-index: 999;
}
.menuItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 66px;
    height: 100%;
    z-index: 999;
}
.linkContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.menuLinks{
    cursor: pointer;
    color: #757575;
    font-family: 'ER_Garamond_Medium';
    font-size: 19px;
    transition: all 0.1s;
}
.menuLinks:hover{
    color: black;
}
.activeMenuLink{
    color: black;
}
.activeLinkIndicator{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #FFA314;
    width: 100%;
}
.expandableMenu{
    display: none;
}
.expandableMenuIcon{
    z-index: 999;
    cursor: pointer;
    display: none;
    height: 32px;
    width: 32px;
}
.expandableMenuLinks{
    opacity: 0.2;
}
.closeExpandableMenuIcon{
    cursor: pointer;
    height: 18px;
    width: 18px;
    display: none;
}
.menuFirstHalf, .menuSecondHalf{
    filter: brightness(100) contrast(0) opacity(0.04);
}

.headerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
}
.headerImagesContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.headerImage{
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 93%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.headerImage{
    opacity: 0;
}
.hideHeader{
    animation-name: hideHeader;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1; 
}
@keyframes hideHeader {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;

    }
}
.showHeader{
    animation-name: showHeader;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes showHeader {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
.dotsContainer{
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    z-index: 99;
}
.headerDot{
    border-radius: 50%;
    background-color: #CACACA;
    cursor: pointer;
    width: 8px;
    height: 8px;
    transition: all 0.1s;
}
.headerDot:hover{
    background-color: #F7A524;
}
.activeDot{
    background-color: black;
    cursor:auto;
}
.activeDot:hover{
    background-color: black;
}
.invisibleControlsHeader{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.headerLeftControl, .headerRightControl{
    flex: 1;
    height: 100%;
    z-index: 98;
}



@media screen and (max-width: 1024px){
    .menu{
        padding: 0px 70px;
        box-shadow: none;
    }
}


@media screen and (max-width: 950px){
    .menuItems{
        display: none;
    }
    .expandableMenuIcon{
        display: flex;
    }
    .menu{
        height: 100px;
        padding: 0px 70px;
        box-shadow: none;
    }
    .closeExpandableMenuIcon{
        cursor: pointer;
        margin-right: 16px;
        height: 34px;
        width: 34px;
        display: none;
        border: 1px solid #4D4D4D;
        border-radius: 50%;
        padding: 6px;
    }

    
    .expandableMenu{
        z-index: 999;
        position: relative;
        display: none;
        flex-direction: column;
        background-color: #0B0B0B;
        overflow: hidden;
        height: 100vh;
    }
    .expandableNavLinks{
        padding: 40px 70px;
        gap: 16px;
        display: flex;
        opacity: 0;
        flex-direction: column;
    }
    .menuFirstHalf{
        width: 300px;
        object-fit: cover;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
    }
    .menuSecondHalf{
        bottom: 0;
        width: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(55%);
    }
    .expandableMenuLinks{
        font-size: 36px;
        letter-spacing: 1px;
        color: white;
        font-family: "ER_Garamond_Medium";
    }
}


@media screen and (max-width: 500px){
    .menu{
        height: 70px;
        padding: 0px 20px;
        box-shadow: none;
    }
    .menuSchoolName{
        width: 129px;
    }
    .expandableMenuIcon{
        display: flex;
        height: 26px;
        width: 26px;
    }
    .closeExpandableMenuIcon{
        cursor: pointer;
        height: 32px;
        width: 32px;
        margin-right: 0px;
        display: none;
        border: 1px solid #4D4D4D;
        border-radius: 50%;
        padding: 6px;
    }
    .expandableNavLinks{
        padding: 40px 25px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    .menuFirstHalf{
        width: 250px;
        object-fit: cover;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
    }
    .menuSecondHalf{
        bottom: 0;
        width: 440px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(55%);
    }
    .expandableMenuLinks{
        font-size: 36px;
        letter-spacing: 1px;
        color: white;
    }

    .dotsContainer{
        gap: 20px;
    }
    .headerDot{
        width: 8px;
        height: 8px;
    }
}   


    .turnMenuBlack{
        animation-name: turnMenuBlack;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes turnMenuBlack{
        0%{
            background-color: #ffffff;
        }
        100%{
            background-color: #0B0B0B;
        }
    }
    .turnMenuWhite{
        animation-name: turnMenuWhite;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes turnMenuWhite{
        0%{
            background-color: #0B0B0B;
        }
        100%{
            background-color: #ffffff;
        }
    }
    .turnMenuBlack:after{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #00000000, rgba(202, 202, 202, 0.2), #00000000);
        pointer-events: none;
    }


    .invertImageToWhite{
        animation-name: invertImageToWhite;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes invertImageToWhite{
        0%{
            filter: invert(0);
        }
        100%{
            filter: invert(1);
        }
    }
    .invertImageToBlack{
        animation-name: invertImageToBlack;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes invertImageToBlack{
        0%{
            filter: invert(1);
        }
        100%{
            filter: invert(0);
        }
    }



    .hideMenuIcon{
        animation-name: hideMenuIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes hideMenuIcon{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    .showMenuIcon{
        animation-name: showMenuIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showMenuIcon{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }


    .hideClosingIcon{
        animation-name: hideClosingIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes hideClosingIcon{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    .showClosingIcon{
        animation-name: showClosingIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showClosingIcon{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    

    .dropTheMenu{
        animation-name: dropTheMenu;
        animation-duration: 0.20s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes dropTheMenu{
        0%{
            transform: translateY(-150%);
            opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .raiseTheMenu{
        animation-name: raiseTheMenu;
        animation-duration: 0.20s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes raiseTheMenu{
        0%{
            transform: translateY(0%);
            opacity: 1;
        }
        100%{
            transform: translateY(-150%);
            opacity: 0;
            display: none;
        }
    }
    

    .grow{
        animation-name: grow;
        animation-duration: 0.40s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes grow {
        0%{
            opacity: 0;
            transform: translateY(-40%);
            transform-origin: top;
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
            transform-origin: top;
        }
    }


    .showLink{
        animation-name: showLink;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showLink {
        0%{
            opacity: 0.2;
        }
        100%{
            opacity: 1;

        }
    }



    .showMenu{
        animation-name: showMenu;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showMenu {
        0%{
            opacity: 0;
            transform: translateY(-100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .hideMenu{
        animation-name: hideMenu;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes hideMenu {
        0%{
            opacity: 1;
            transform: translateY(0%);
        }
        100%{
            opacity: 0;
            transform: translateY(-100%);
        }
    }