*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ER_Garamond_Medium';
    src: url(assets/fonts/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_Regular';
    src: url(assets/fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'DM_Sans_Medium';
    src: url(assets/fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_ExtraBold';
    src: url(assets/fonts/DMSans-ExtraBold.ttf);
}
a{
    text-decoration: none;
    color: initial;
}
body{
    height: 1000px;
}

.menuContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
.menu{
    z-index: 1000;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 100px;
    background-color: white;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.1);
}
.menu:after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #FFFFFF, #CACACA, #FFFFFF);
    pointer-events: none;
}
.menuSchoolName{
    width: 176px;
    z-index: 999;
}
.menuItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    height: 100%;
    z-index: 999;
}
.linkContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.menuLinks{
    cursor: pointer;
    color: #757575;
    font-family: 'ER_Garamond_Medium';
    font-size: 19px;
    transition: all 0.1s;
}
.menuLinks:hover{
    color: black;
}
.activeMenuLink{
    color: black;
}
.activeLinkIndicator{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #FFA314;
    width: 100%;
}
.expandableMenu{
    display: none;
}
.expandableMenuIcon{
    z-index: 999;
    cursor: pointer;
    display: none;
    height: 32px;
    width: 32px;
}
.closeExpandableMenuIcon{
    cursor: pointer;
    height: 18px;
    width: 18px;
    display: none;
}
.menuFirstHalf, .menuSecondHalf{
    filter: brightness(100) contrast(0) opacity(0.04);
}


@media screen and (max-width: 1024px){
    .menu{
        z-index: 100;
        display: flex;
        flex-direction: row;
            width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding: 0px 70px;
        background-color: white;
        position: relative;
        box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.1);
    }
}


@media screen and (max-width: 950px){
    .menuItems{
        display: none;
    }
    .expandableMenuIcon{
        display: flex;
    }
    .menu{
        z-index: 1000;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding: 0px 70px;
        background-color: white;
        position: relative;
        box-shadow: none;
    }
    .closeExpandableMenuIcon{
        cursor: pointer;
        margin-right: 16px;
        height: 34px;
        width: 34px;
        display: none;
        border: 1px solid #4D4D4D;
        border-radius: 50%;
        padding: 6px;
    }

    
    .expandableMenu{
        z-index: 99;
        top: 0;
        position: relative;
        display: none;
        flex-direction: column;
        flex: 1;
        background-color: #0B0B0B;
        overflow: hidden;
    }
    .expandableNavLinks{
        padding: 40px 70px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    .menuFirstHalf{
        width: 300px;
        object-fit: cover;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
    }
    .menuSecondHalf{
        bottom: 0;
        width: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(55%);
    }
    .expandableMenuLinks{
        font-size: 36px;
        letter-spacing: 1px;
        color: white;
    }
}


@media screen and (max-width: 500px){
    .menu{
        z-index: 1000;
        top: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 0px 20px;
        background-color: white;
        position: relative;
        box-shadow: none;
    }
    .menuSchoolName{
        width: 129px;
    }
    .expandableMenuIcon{
        display: flex;
        height: 26px;
        width: 26px;
    }
    .closeExpandableMenuIcon{
        cursor: pointer;
        height: 32px;
        width: 32px;
        margin-right: 13px;
        display: none;
        border: 1px solid #4D4D4D;
        border-radius: 50%;
        padding: 6px;
    }

    
    .expandableMenu{
        z-index: 99;
        top: 0;
        position: relative;
        display: none;
        flex-direction: column;
        flex: 1;
        background-color: #0B0B0B;
        overflow: hidden;
    }
    .expandableNavLinks{
        padding: 40px 25px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    .menuFirstHalf{
        width: 250px;
        object-fit: cover;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
    }
    .menuSecondHalf{
        bottom: 0;
        width: 440px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(55%);
    }
    .expandableMenuLinks{
        font-size: 36px;
        letter-spacing: 1px;
        color: white;
    }
}   





    .blackMenu{
        background-color: #0B0B0B;
    }
    .blackMenu:after{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #00000000, rgba(202, 202, 202, 0.2), #00000000);
        pointer-events: none;
    }
    .disableMenuIcon{
        display: none;
    }
    .expandMenu{
        display: flex;
    }
    .enabledClosingIcon{
        display: flex;
    }
    .invertText{
        filter: invert(1);
    }