*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: black white;
    scrollbar-width:thin;;
}
@font-face {
    font-family: 'ER_Garamond_Medium';
    src: url(assets/fonts/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_Regular';
    src: url(assets/fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'DM_Sans_Medium';
    src: url(assets/fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_SemiBold';
    src: url(assets/fonts/DMSans-SemiBold.ttf);
}
@font-face {
    font-family: 'DM_Sans_ExtraBold';
    src: url(assets/fonts/DMSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'Newsreader_Medium';
    src: url(assets/fonts/Newsreader_36pt-Medium.ttf);
}
a{
    text-decoration: none;
    color: initial;
}
body{
    overflow-x: hidden;
    position: relative;
    height: 10000px;
}

.appContainer{
    opacity: 0;
}
.appearDocument{
    animation-name: appearDocument;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes appearDocument {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}


.menuContainer{
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.menu{
    z-index: 1000;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 100px;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.1);
}
.menu:after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #ffffff00, #d9d9d9, #ffffff00);
    pointer-events: none;
}
.menuSchoolName{
    width: 176px;
    cursor: pointer;
    z-index: 999;
}
.menuItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 66px;
    height: 100%;
    z-index: 999;
}
.linkContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.menuLinks{
    cursor: pointer;
    color: #757575;
    font-family: 'ER_Garamond_Medium';
    font-size: 19px;
    transition: all 0.1s;
}
.menuLinks:hover{
    color: black;
}
.activeMenuLink{
    color: black;
}
.activeLinkIndicator{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #FFA314;
    width: 100%;
}
.expandableMenu{
    display: none;
}
.expandableMenuIcon{
    z-index: 999;
    cursor: pointer;
    display: none;
    height: 32px;
    width: 32px;
}
.expandableMenuLinks{
    opacity: 0.2;
}
.closeExpandableMenuIcon{
    cursor: pointer;
    height: 18px;
    width: 18px;
    display: none;
}
.menuFirstHalf, .menuSecondHalf{
    filter: brightness(100) contrast(0) opacity(0.04);
}

.headerContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
}
.headerImagesContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.headerImage{
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 32%, rgba(0, 0, 0, 0) 93%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.headerImage{
    opacity: 0;
}
.hideHeader{
    animation-name: hideHeader;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1; 
}
@keyframes hideHeader {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;

    }
}
.showHeader{
    animation-name: showHeader;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes showHeader {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}

.showHistoryImage{
    animation-name: showHistoryImage;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1;
}
@keyframes showHistoryImage {
    0%{
        opacity: 0;
        z-index: 1;
    }
    100%{
        opacity: 1;
        z-index: 100;

    }
}

.hideHistoryImage{
    animation-name: hideHistoryImage;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 1; 
}
@keyframes hideHistoryImage {
    0%{
        opacity: 1;
        z-index: 100;
    }
    100%{
        opacity: 0;
        z-index: 1;

    }
}

.dotsContainer{
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    z-index: 99;
}
.headerDot{
    border-radius: 50%;
    background-color: #CACACA;
    cursor: pointer;
    width: 8px;
    height: 8px;
    transition: all 0.1s;
}
.headerDot:hover{
    background-color: #F7A524;
}
.activeDot{
    background-color: black;
    cursor:auto;
}
.activeDot:hover{
    background-color: black;
}
.invisibleControlsHeader{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.headerLeftControl, .headerRightControl{
    flex: 1;
    height: 100%;
    z-index: 98;
}

.communityContainer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 0px 100px;
    gap: 28px;
}
.communityHeader{
    font-size: 56px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
}
.communityContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 442px
}
.communityImage{
    width: 658px;
    height: 442px;
    overflow: hidden;
}
.communityImage:hover img{
    scale: 1.02;
}
.communityImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s;
}
.communityText{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.communityStatsContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.communityNumbers{
    font-family: 'Newsreader_Medium';
    font-weight: 500;
    font-size: 52px;
    color: #F7A524;
}
.communityStat{
    font-size: 18px;
    font-family: 'DM_Sans_ExtraBold';
}




.principleContainer{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 0px 100px 80px 100px;
    position: relative;
}
.principleContainer:after{
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #ffffff00, #CACACA, #ffffff00);
    position: absolute;
    bottom: 0;
}
.principleQuotedContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
}
.principleMessage{
    font-weight: 500;
    font-family: 'ER_Garamond_Medium';
    font-size: clamp(30px, 3vw ,48px);
    max-width: 658px;
    min-width: 450px;
    line-height: 120%;
    z-index: 100;
}
.quote{
    width: 113px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: translateX(-32px) translateY(-58px);
}
.principleImage{
    max-width: 645px;
    max-height: 592px;
    min-width: 350px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
}
.principleImage:hover img{
    scale: 1.02;
}
.principleImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s;
}
.principleName{
    font-size: clamp(15px, 1.5vw ,18px);
    font-family: 'DM_Sans_ExtraBold';
    color: #484848;
}


.educationContainer{
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    padding: 0px 100px 120px 100px;
    position: relative;
}
.educationTitle{
    font-size: 56px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
}
.educationCard:hover .educationName::after{
    width: 100%;
}
.educationName::after{
    content: '';
    height: 3px;
    width: 0%;
    margin-bottom: 12px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
}
.educationCardsContainer{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}
.educationImage{
    height: 280px;
    object-fit: cover;
    overflow: hidden;
}
.educationCard:hover .educationImage img{
    scale: 1.02;
}
.educationImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s;
}
.educationName{
    width: fit-content;
    font-size: 38px;
    padding-left: 5px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
    padding: 12px 0px 12px 0px;
    position: relative;
}
.educationLine{
    padding-left: 5px;
    height: 1px;
    background: linear-gradient(to right, #ffffff00, #CACACA, #ffffff00);
    margin-bottom: 10px;
    padding-right: 20px;
}
.educationDescription{
    padding-left: 5px;
    font-size: 18px;
    color: #484848;
    font-family: 'DM_Sans_Regular';
    line-height: 170%;
    padding-right: 20px;
}


.clubsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    padding: 0px 100px 120px 100px;
    position: relative;
}
.clubsTitle{
    font-size: 56px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
}
.clubsMovementContainer{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: fit-content;
    position: relative;
    overflow-X: scroll;
    padding-bottom: 14px;
    scrollbar-color: rgb(207, 207, 207) white;
    scrollbar-width:thin;
}
.clubsCardsContainer{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
}
.clubCard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clubCard:hover .clubImage img{
    scale: 1.02;
}
.clubImage{
    overflow: hidden;
    width: 380px;
    height: 230px;
}
.clubImage img{
    will-change: transform;
    transition: all 0.25s;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.clubTextContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f8f8f8;
    width: 380px;
    height: 300px;
    padding: 12px 25px;
}
.clubCardTitle{
    width: fit-content;
    font-size: 36px;
    font-weight: 500;
    font-family: 'ER_Garamond_Medium';
    transition: all 0.1s;
    position: relative;
}
.clubCardTitle::after{
    content: '';
    height: 3px;
    width: 0%;
    margin-bottom: 0px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
}
.clubCard:hover .clubTextContainer .clubCardTitle::after{
    width: 100%;
}
.clubLine{
    height: 1px;
    background: linear-gradient(to right, #ffffff00, #CACACA, #ffffff00);
}
.clubDescription{
    font-size: 17px;
    font-family: "DM_Sans_Regular";
    line-height: 170%;
    color: #484848;
}
.redCross{
    background-color: #f10e0e;
    color: white;
}
.redCross .clubLine{
    background: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
}
.redCross .clubDescription{
    color: white;
}
.redCross .clubCardTitle::after{
    content: '';
    height: 3px;
    width: 0%;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
}


.historyContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 0px 100px 100px 100px;
    position: relative;
}
.historyTitle{
    font-size: 56px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
}
.historyContentGrid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 30px;
}
.historyImages{
    padding-right: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.historyTextOne{
    margin-bottom: 40px;
    grid-row: 1/2;
    min-height: 550px;
    max-height: 600px;
    font-size: 18px;
    font-family: 'DM_Sans_Regular';
    color: #484848;
    line-height: 170%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.historyTextOne span, .historyTextTwo span{
    color: black;
    font-family: 'DM_Sans_SemiBold';
}
.historyTextOne::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 1000px;
    background: linear-gradient(to right, #ffffff00, #CACACA, #ffffff00);
    top: 0;
    left: 0;
    transform-origin: left;
    transform: translateX(-30px) rotate(90deg);
}
.historyTextTwo::before{
    position: absolute;
    content: '';
    height: 1px;
    background: linear-gradient(to right, #ffffff00, #CACACA, #ffffff00);
    width: 100%;
    top: 0;
    left: 0;
}
.historyTextTwo{
    position: relative;
    padding-top: 30px;
    font-size: 18px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 30px;
    font-family: 'DM_Sans_Regular';
    color: #484848;
    line-height: 170%;
}
.historyImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.historyDotsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.historyDot{
    border-radius: 50%;
    background-color: #CACACA;
    cursor: pointer;
    width: 8px;
    height: 8px;
    transition: all 0.1s;
}
.historyDot:hover{
    background-color: #F7A524;
}
.activeHistoryDot{
    background-color: black;
}
.historyImagesContainer{
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.historyImage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    opacity: 0;
    overflow: hidden;
}
.historyImage:hover img{
    scale: 1.02;
}
.historyImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s;
}

@media screen and (max-width: 1070px){
    .menu{
        padding: 0px 70px;
        box-shadow: none;
    }

    .communityContainer{
        margin-top: 80px;
        padding: 0px 70px;
        gap: 28px;
    }
    .communityContent{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        height: 400px
    }
    .communityImage{
        width: 600px;
        height: 400px;
        overflow: hidden;
    }
    .communityImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .communityStatsContainer{
        gap: 4px;
    }   
    .communityNumbers{
        font-size: 48px;
    }
    .communityStat{
        font-size: 17px;
    }

    .principleContainer{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding: 0px 70px 80px 70px;
        position: relative;
    }
    .principleQuotedContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 28px;
        height: 100%;
    }
    .principleMessage{
        font-size: clamp(30px, 3vw ,40px);
        max-width: 658px;
        min-width: 350px;
        line-height: 120%;
    }
    .quote{
        width: 97px;
        transform: translateX(-32px) translateY(-58px);
    }
    .principleImage{
        max-width: 387px;
        max-height: 330px;
        min-width: 350px;
        min-height: 300px;
        overflow: hidden;
        position: relative;
    }
    .principleImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .principleName{
        font-size: clamp(15px, 1.5vw ,17px);
    }
    .educationContainer{
        padding: 0px 70px 120px 70px;
        position: relative;
    }
    .clubsContainer{
        padding: 0px 70px 100px 70px;
    }


    
.historyContainer{
    padding: 0px 70px 100px 70px;
}
.historyContentGrid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 0px;
}
.historyImages{
    padding-right: 0px;
    grid-column: 1/2;
    grid-row: 1/2;
    column-gap: 0px;
}
.historyTextOne{
    padding: 0px 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    grid-column: 1/2;
    grid-row: 2/3;
    min-height: fit-content;
    max-height: fit-content;
    font-size: 18px;
    font-family: 'DM_Sans_Regular';
    color: #484848;
    line-height: 170%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.historyTextOne::after{
    height: 0px;
    width: 0px;
    display: none;
}
.historyTextTwo::before{
    height: 0px;
    width: 0px;
    display: none;
}
.historyTextTwo{
    padding: 0px 5px;
    position: relative;
    padding-top: 0px;
    font-size: 18px;
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: 'DM_Sans_Regular';
    color: #484848;
    line-height: 170%;
}
.historyImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    gap: 30px;
}
.historyDotsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
.historyDot{
    border-radius: 50%;
    background-color: #CACACA;
    cursor: pointer;
    width: 8px;
    height: 8px;
    transition: all 0.1s;
}
.historyDot:hover{
    background-color: #F7A524;
}
.activeHistoryDot{
    background-color: black;
}
.historyImagesContainer{
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.historyImage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
}


@media screen and (max-width: 950px){
    .menuItems{
        display: none;
    }
    .expandableMenuIcon{
        display: flex;
    }
    .menu{
        height: 100px;
        padding: 0px 50px;
        box-shadow: none;
    }
    .closeExpandableMenuIcon{
        cursor: pointer;
        margin-right: 10px;
        height: 34px;
        width: 34px;
        display: none;
        border: 1px solid #4D4D4D;
        border-radius: 50%;
        padding: 6px;
    }

    
    .expandableMenu{
        z-index: 999;
        position: relative;
        display: none;
        flex-direction: column;
        background-color: #0B0B0B;
        overflow: hidden;
        height: 100vh;
    }
    .expandableNavLinks{
        padding: 40px 50px;
        gap: 16px;
        display: flex;
        opacity: 0;
        flex-direction: column;
    }
    .menuFirstHalf{
        width: 300px;
        object-fit: cover;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
    }
    .menuSecondHalf{
        bottom: 0;
        width: 500px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(55%) translateY(-100px);
    }
    .expandableMenuLinks{
        font-size: 36px;
        letter-spacing: 1px;
        width: fit-content;
        color: white;
        font-family: "ER_Garamond_Medium";
        position: relative;
    }
    .expandableMenuLinks p::after{
        content: '';
        height: 3px;
        width: 0%;
        margin-bottom: -2px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.25s ease-in-out;
    }
    .expandableMenuLinks:hover p::after{
        width: 100%;
    } 


    .communityContainer{
        margin-top: 80px;
        padding: 0px 50px;
        gap: 28px;
    }
    .communityContent{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
        height: auto;
    }
    .communityText{
        gap: 30px;
    }
    .communityImage{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .communityImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .communityImage{
        width: 100%;
        height: auto;
    }
    .communityStatsContainer{
        gap: 4px;
    }   
    .communityNumbers{
        font-size: 60px;
    }
    .communityStat{
        font-size: 18px;
    }

    .principleContainer{
        margin-top: 80px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 0px 50px 80px 50px;
        position: relative;
    }
    .principleQuotedContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
    .principleMessage{
        font-size: 36px;
        max-width: 100%;
        min-width: 100%;
        line-height: 120%;
    }
    .principleImage{
        max-width: 100%;
        max-height: 800px;
        min-width: 100%;
        overflow: hidden;
        position: relative;
    }
    .principleImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .principleName{
        font-size: 17px;
    }
    .quote{
        width: 85px;
        transform: translateX(-20px) translateY(-50px);
    }
    .educationContainer{
        padding: 0px 50px 120px 50px;
        position: relative;
    }
    .educationImage{
        height: 320px;
    }
    .clubsContainer{
        padding: 0px 50px 100px 50px;
    }
    .clubsMovementContainer{
        padding-bottom: 10px;
    }

    .historyContainer{
        padding: 0px 50px 55px 50px;
    }
    .historyTextOne{
        padding: 0px 5px;
    }

    .historyTextTwo{
        padding: 0px 5px;
    }
}


@media screen and (max-width: 500px){
    .menu{
        height: 70px;
        padding: 0px 20px;
        box-shadow: none;
    }
    .menuSchoolName{
        width: 129px;
    }
    .expandableMenuIcon{
        display: flex;
        height: 26px;
        width: 26px;
    }
    .closeExpandableMenuIcon{
        cursor: pointer;
        height: 32px;
        width: 32px;
        margin-right: 0px;
        display: none;
        border: 1px solid #4D4D4D;
        border-radius: 50%;
        padding: 6px;
    }
    .expandableNavLinks{
        padding: 40px 25px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }
    .menuFirstHalf{
        width: 250px;
    }
    .menuSecondHalf{
        width: 440px;
    }
    .expandableMenuLinks{
        font-size: 36px;
        letter-spacing: 1px;
        color: white;
    }

    .dotsContainer{
        gap: 20px;
    }
    .headerDot{
        width: 8px;
        height: 8px;
    }
    .headerImage{
        mask-image: linear-gradient(rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 90%);
    }


    .communityContainer{
        margin-top: 50px;
        padding: 0px 20px;
        gap: 10px;
    }
    .communityHeader{
        font-size: 34px;
    }
    .communityContent{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
        height: auto;
    }
    .communityText{
        gap: 30px;
        padding-left: 5px;
    }
    .communityImage{
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .communityImage img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .communityStatsContainer{
        gap: 4px;
    }   
    .communityNumbers{
        font-size: 56px;
    }
    .communityStat{
        font-size: 18px;
    }

    .principleContainer{
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 0px 20px 55px 20px;
        position: relative;
    }
    .principleQuotedContainer{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
    .principleMessage{
        padding-left: 5px;
        font-size: 28px;
        max-width: 100%;
        min-width: 100%;
        line-height: 120%;
    }
    .principleImage{
        max-width: 100%;
        max-height: 800px;
        min-width: 100%;
        overflow: hidden;
        position: relative;
    }
    .principleImage img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
    }
    .principleName{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
    .quote{
        width: 68px;
        transform: translateX(-6px) translateY(-36px);
    }
    .educationContainer{
        gap: 10px;
        padding: 0px 20px 80px 20px;
        position: relative;
    }
    .educationCardsContainer{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
    }
    .educationTitle{
        font-size: 34px;
    }
    .educationImage{
        height: 280px;
    }
    .educationName{
        font-size: 32px;
        padding: 10px 0px 10px 5px;
    }
    .educationLine{
        padding-left: 5px;
    }
    .educationDescription{
        padding-left: 5px;
        font-size: 16px;
        color: #484848;
        font-family: 'DM_Sans_Regular';
        line-height: 170%;
        padding-right: 20px;
    }



    .clubsContainer{
        gap: 10px;
        padding: 0px 20px 80px 20px;
    }
    .clubsTitle{
        font-size: 34px;
    }
    .clubCardTitle{
        font-size: 32px;
    }
    .clubDescription{
        font-size: 16px;
    }
    .clubImage{
        width: 300px;
        height: 200px;
    }
    .clubTextContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #f8f8f8;
        width: 300px;
        height: 294px;
        padding: 12px 25px;
    }
    .redCross{
        background-color: #f10e0e;
        color: white;
    }
    .redCross .clubLine{
        background: linear-gradient(to right, #ffffff00, #ffffff, #ffffff00);
    }
    .redCross .clubDescription{
        color: white;
    }
    .redCross .clubCardTitle::after{
        content: '';
        height: 3px;
        width: 0%;
        margin-bottom: 0px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.25s ease-in-out;
    } 

    .historyTitle{
        font-size: 34px;
    }
    .historyContainer{
        padding: 0px 20px 55px 20px;
    }
    .historyImages{
        height: fit-content;
        gap: 20px;
    }
    .historyImagesContainer{
        height: 280px;
    }
    .historyTextOne{
        margin-top: 0px;
        font-size: 16px;
        margin-bottom: 30px;
        padding: 0px 5px;
    }
    .historyTextTwo{
        font-size: 15px;
        padding: 0px 5px;
    }


    .headerContainer{
        height: 580px;
    }
}   


    .turnMenuBlack{
        animation-name: turnMenuBlack;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes turnMenuBlack{
        0%{
            background-color: #ffffff;
        }
        100%{
            background-color: #0B0B0B;
        }
    }
    .turnMenuWhite{
        animation-name: turnMenuWhite;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes turnMenuWhite{
        0%{
            background-color: #0B0B0B;
        }
        100%{
            background-color: #ffffff;
        }
    }
    .turnMenuBlack:after{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, #00000000, rgba(202, 202, 202, 0.2), #00000000);
        pointer-events: none;
    }


    .invertImageToWhite{
        animation-name: invertImageToWhite;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes invertImageToWhite{
        0%{
            filter: invert(0);
        }
        100%{
            filter: invert(1);
        }
    }
    .invertImageToBlack{
        animation-name: invertImageToBlack;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes invertImageToBlack{
        0%{
            filter: invert(1);
        }
        100%{
            filter: invert(0);
        }
    }



    .hideMenuIcon{
        animation-name: hideMenuIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes hideMenuIcon{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    .showMenuIcon{
        animation-name: showMenuIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showMenuIcon{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }


    .hideClosingIcon{
        animation-name: hideClosingIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes hideClosingIcon{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    .showClosingIcon{
        animation-name: showClosingIcon;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showClosingIcon{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    

    .dropTheMenu{
        animation-name: dropTheMenu;
        animation-duration: 0.15s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes dropTheMenu{
        0%{
            transform: translateY(-150%);
            opacity: 0;
        }
        100%{
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .raiseTheMenu{
        animation-name: raiseTheMenu;
        animation-duration: 0.20s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes raiseTheMenu{
        0%{
            transform: translateY(0%);
            opacity: 1;
        }
        100%{
            transform: translateY(-150%);
            opacity: 0;
            display: none;
        }
    }
    

    .grow{
        animation-name: grow;
        animation-duration: 0.40s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes grow {
        0%{
            opacity: 0;
            transform: translateY(-40%);
            transform-origin: top;
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
            transform-origin: top;
        }
    }


    .showLink{
        animation-name: showLink;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showLink {
        0%{
            opacity: 0.2;
        }
        100%{
            opacity: 1;

        }
    }



    .showMenu{
        animation-name: showMenu;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes showMenu {
        0%{
            opacity: 0;
            transform: translateY(-100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0%);
        }
    }

    .hideMenu{
        animation-name: hideMenu;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes hideMenu {
        0%{
            opacity: 1;
            transform: translateY(0%);
        }
        100%{
            opacity: 0;
            transform: translateY(-100%);
        }
    }