*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: black white;
    scrollbar-width:thin;;
}
@font-face {
    font-family: 'ER_Garamond_Medium';
    src: url(assets/fonts/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_Regular';
    src: url(assets/fonts/DMSans-Regular.ttf);
}
@font-face {
    font-family: 'DM_Sans_Medium';
    src: url(assets/fonts/DMSans-Medium.ttf);
}
@font-face {
    font-family: 'DM_Sans_SemiBold';
    src: url(assets/fonts/DMSans-SemiBold.ttf);
}
@font-face {
    font-family: 'DM_Sans_ExtraBold';
    src: url(assets/fonts/DMSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'Newsreader_Medium';
    src: url(assets/fonts/Newsreader_36pt-Medium.ttf);
}

.colaborationsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 100px 0px 100px;
    position: relative;
}
.colaborationsTitle,.aqcuisitionsTitle, .spendingsTitle{
    font-size: 56px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
}
.colaborationsOuterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-X: scroll;
    padding-bottom: 14px;
    scrollbar-color: rgb(207, 207, 207) white;
    scrollbar-width:thin;
}
.colaborationsScrollContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: stretch;
    gap: 30px;
}
.colaborationsCard{
    display: flex;
    width: 410px;
    flex-direction: column;
}
.colaborationsCardTop{
    height: 190px;
    background-color: white;
    position: relative;
    padding: 30px 40px 30px 30px;
    border: 3px solid #F7F7F7;
    transition: all 0.15s ease-in-out;
}
.colaborationsCard:hover .colaborationsCardTop{
    border: 3px solid #FFA314;
}
.colaborationCardTitle{
    line-height: 140%;
    font-size: 28px;
    font-family: 'ER_Garamond_Medium';
    font-weight: 500;
}
.colaborationsDot{
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #FFA314;
    border-radius: 50%;
}
.colaborationsCardBottom{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 40px 30px;
    background-color: #F7F7F7;
    gap: 20px;
    flex: 1;
}
.colaborationsTextContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.colaborationsBigText{
    font-size: 18px;
    font-family: 'DM_Sans_SemiBold';
}
.colaborationsSmallText{
    font-size: 16px;
    font-family: 'DM_Sans_Regular';
}
.colaborationsLine{
    height: 1px;
    background: linear-gradient(to right, #ffffff00, #CACACA, #ffffff00);
    width: 100%;
}
.collaborationsBottomInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.colaborationsInfoRow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.colaborationsInfoRow img{
    width: 24px;
    height: 24px;
}
.colaborationsInfoRow p{
    font-size: 16px;
    font-family: 'DM_Sans_Regular';
}


.aqcuisitionsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 100px 0px 100px;
    position: relative;
}
.aqcuisitonsFilesContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aqcuisitionsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.downloadAq{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.downloadAq:hover  img{
    filter: brightness(0);
}
.downloadSp{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.downloadSp:hover  img{
    filter: brightness(0);
}
.aqcuisitionsInline img{
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}
.aqcuisitionsInline a{
    font-size: 18px;
    font-weight: 500;
    line-height: 170%;
    font-family: 'DM_Sans_Regular';
    cursor: pointer;
}
.aqcuisitionsInline .outsideAq:hover{
    text-decoration: underline;
}
.spendingsInline .outsideSp:hover{
    text-decoration: underline;
}
.aqcuisitionsInline span{
    transition: all 0.1s;
    font-size: 18px;
    font-weight: 500;
    color: #BCBCBC;
    font-family: 'DM_Sans_Regular';
    cursor: pointer;
}




.spendingsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 100px 120px 100px;
    position: relative;
}
.spendingsFilesContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.spendingsInline{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.spendingsInline img{
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}
.spendingsInline a{
    font-size: 18px;
    font-weight: 500;
    line-height: 170%;
    font-family: 'DM_Sans_Regular';
    cursor: pointer;
}
.spendingsInline span{
    transition: all 0.1s;
    font-size: 18px;
    font-weight: 500;
    color: #BCBCBC;
    font-family: 'DM_Sans_Regular';
    cursor: pointer;
}
.administrationHeaderContainer{
    opacity: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.administrationHeaderContainer img{
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 32%, rgba(0, 0, 0, 0) 93%);
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}


@media screen and (max-width: 1070px){
.colaborationsContainer{
    gap: 30px;
    padding: 0px 70px 0px 70px;
    position: relative;
}
.aqcuisitionsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 70px 0px 70px;
    position: relative;
}
.spendingsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 70px 120px 70px;
    position: relative;
}
}

@media screen and (max-width: 950px){
.colaborationsContainer{
    gap: 30px;
    padding: 0px 50px 0px 50px;
    position: relative;
}    
.aqcuisitionsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 50px 0px 50px;
    position: relative;
}
.spendingsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 50px 120px 50px;
    position: relative;
}
}

@media screen and (max-width:600px){
    .colaborationsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 50px 0px 50px;
    position: relative;
}
.aqcuisitionsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 50px 0px 50px;
    position: relative;
}
.aqcuisitionsInline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.aqcuisitionsInline a{
    font-size: 17px;
}

.spendingsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 50px 120px 50px;
    position: relative;
}
.spendingsInline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.spendingsInline a{
    font-size: 17px;
}
.colaborationsTitle{
    font-size: 56px;
    font-weight: 500;
    font-family: "ER_Garamond_Medium";
}
.colaborationsOuterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-X: scroll;
    padding-bottom: 14px;
    scrollbar-color: rgb(207, 207, 207) white;
    scrollbar-width:thin;
}
.colaborationsScrollContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: stretch;
    gap: 30px;
}
.colaborationsCard{
    display: flex;
    width: 400px;
    flex-direction: column;
}
.colaborationsCardTop{
    height: 130px;
    background-color: white;
    position: relative;
    padding: 30px 40px 30px 30px;
    border: 3px solid #F7F7F7;
}
.colaborationCardTitle{
    line-height: 140%;
    font-size: 24px;
    font-family: 'ER_Garamond_Medium';
    font-weight: 500;
}
.colaborationsDot{
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #FFA314;
    border-radius: 50%;
}
.colaborationsCardBottom{
    display: flex;
    flex-direction: column;
    padding: 20px 30px 40px 30px;
    background-color: #F7F7F7;
    gap: 20px;
    flex: 1;
}
.colaborationsTextContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.colaborationsBigText{
    font-size: 17px;
    font-family: 'DM_Sans_SemiBold';
}
.colaborationsSmallText{
    font-size: 15px;
    font-family: 'DM_Sans_Regular';
}
.collaborationsBottomInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.colaborationsInfoRow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.colaborationsInfoRow img{
    width: 24px;
    height: 24px;
}
.colaborationsInfoRow p{
    font-size: 16px;
    font-family: 'DM_Sans_Regular';
}

}


@media screen and (max-width:500px){
.aqcuisitionsTitle{
    font-size: 34px;
}
.aqcuisitionsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 20px 0px 20px;
    position: relative;
}
.aqcuisitonsFilesContainer{
    padding-left: 5px;
    padding-right: 5px;
    gap: 28px;
}
.aqcuisitionsInline a{
    font-size: 16px;
}

.spendingsTitle{
    font-size: 34px;
}
.spendingsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 0px 20px 100px 20px;
    position: relative;
}
.spendingsFilesContainer{
    padding-left: 5px;
    padding-right: 5px;
    gap: 28px;
}
.spendingsInline a{
    font-size: 16px;
}
.colaborationsContainer{
    opacity: 0;
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 0px 20px 0px 20px;
    position: relative;
}
.colaborationsTitle{
    font-size: 34px;
}
.colaborationsOuterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-X: scroll;
    padding-bottom: 14px;
    scrollbar-color: rgb(207, 207, 207) white;
    scrollbar-width:thin;
}
.colaborationsScrollContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: stretch;
    gap: 30px;
}
.colaborationsCard{
    display: flex;
    width: 90vw;
    flex-direction: column;
}
.colaborationsCardTop{
    height: 140px;
    background-color: white;
    position: relative;
    padding: 25px 25px 25px 25px;
    border: 3px solid #F7F7F7;
}
.colaborationCardTitle{
    line-height: 140%;
    font-size: 20px;
    font-family: 'ER_Garamond_Medium';
    font-weight: 500;
}
.colaborationsDot{
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #FFA314;
    border-radius: 50%;
}
.colaborationsCardBottom{
    display: flex;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    background-color: #F7F7F7;
    gap: 20px;
    flex: 1;
}
.colaborationsTextContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.colaborationsBigText{
    font-size: 16px;
    font-family: 'DM_Sans_SemiBold';
}
.colaborationsSmallText{
    font-size: 14px;
    font-family: 'DM_Sans_Regular';
}
.collaborationsBottomInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.colaborationsInfoRow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.colaborationsInfoRow img{
    width: 22px;
    height: 22px;
}
.colaborationsInfoRow p{
    font-size: 15px;
    font-family: 'DM_Sans_Regular';
}

.administrationHeaderContainer{
    width: 100dvw;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
}